<div class="content">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h5 class="title">Todo Add</h5>
            </div>
            <div class="card-body">
                <form [formGroup]="todoAddForm" >
                    <div class="mb-3">
                        <div class="form-group">
                            <label for="title" class="form-label">Todo Title</label>
                            <input type="text" class="form-control" id="title" placeholder="title" formControlName="title">
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="form-group" style="margin-bottom:10px ;">
                            <label for="userId" class="form-label">User ID</label>
                            <input type="number" class="form-control" id="userId" placeholder="user id" formControlName="userId">
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="form-group">
                            <input type="checkbox" class="form-check-input" id="completed" formControlName="completed">
                            <label class="form-check-label" for="completed">Completed</label>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <button class="btn btn-fill btn-primary" (click)="add()"> Add </button>
            </div>
        </div>
    </div>

</div>